.use-key{
    display: flex;
    justify-content: center;
    gap: 13px;
}

.use-key div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.data-form-use{
    margin: 5px 0;
    padding: 30px 8px;
}

.outcome{
    text-align: center;
    font-size: 40px;
}

.results-sec .title{
    font-weight: 600;
    font-size: large;
}

.results{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results input{
    width: 68px;
    height: 28px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid rgb(103, 103, 153);
}

.res-loading{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 20px 0;
}
.res-loading p{
    font-size: smaller;
    margin-right: 3px;
    color: green;
}

.res-loading div{
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.res-loading .load-one{
    background-color: orange;
    animation: loadOne 1s linear infinite;
}

.res-loading .load-two{
    background-color: rgb(120, 137, 4);
    animation: loadTwo 1s linear infinite;
}

.res-loading .load-three{
    background-color: rgb(18, 189, 2);
    animation: loadThree 1s linear infinite;
}

@keyframes loadOne {
    0%{
        transform: translateY(0);
    }
    33%{
        transform: translateY(-8px);
    }
    66%{
        transform: translateY(-8px);
    }

}

@keyframes loadTwo {
    33%{
        transform: translateY(0);
    }
    66%{
        transform: translateY(-8px);
    }
}

@keyframes loadThree {
    66%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-8px);
    }
}

.outcome-submission{
    display: flex;
    align-items: center;
    gap: 12px;
}

.outcome-submission button{
    background-color: black;
    color: white;
    height: 32px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.outcome-submission button:hover{
    background-color: rgb(68, 65, 65);
}